.navbar {
  position: relative; /* importante para posicionar el menú desplegable */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e293b;
  padding: 10px 20px;
  color: white;
  z-index: 1000;
}

.navbar-logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 1rem;
}

.navbar-links a {
  color: white;
  text-decoration: none;
}

.navbar-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    background-color: #1e293b;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    z-index: 999; /* asegura que esté por encima del contenido */
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-toggle {
    display: block;
  }
}
