.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e293b;
  padding: 10px 20px;
  color: white;
}

.navbar-logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 1rem;
}

.navbar-links a {
  color: white;
  text-decoration: none;
}

.navbar-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    background-color: #1e293b;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    padding: 1rem;
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-toggle {
    display: block;
  }
}


.navbar-link-button {
  background: none;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font: inherit;
  padding: 0;
}
.navbar-link-button:hover {
  text-decoration: underline;
}
